astroid==2.3.3
boto3==1.34.2
botocore==1.34.2
certifi==2024.12.14
charset-normalizer==3.4.1
decorator==4.4.2
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
isort==4.3.21
jmespath==1.0.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
moviepy==1.0.3
numpy==1.24.4
pillow==10.4.0
proglog==0.1.10
pydub==0.25.1
pylint==2.4.4
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.32.3
s3transfer==0.9.0
six==1.14.0
tqdm==4.67.1
urllib3==1.26.18
wrapt==1.11.2
